@media only screen and (min-width:1500px) and (max-width:1600px)
{
    .box11 img {
        height:300px;
        width:300px;
          
    }
 
   .box2 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box9 img,.box10 img,.box1 img {
    display:none;
 }
}

@media only screen and (min-width:1400px) and (max-width:1500px)
{
    .box11 img {
        height:300px;
        width:300px;
          
    }
 
   .box2 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box9 img,.box10 img,.box1 img {
    display:none;
 }
}

@media only screen and (min-width:1300px) and  (max-width:1400px)
{
   .box1 img {
       height:300px;
       width:300px;
         
   }

  .box2 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box9 img,.box10 img,.box11 img {
   display:none;
}

}

@media only screen and (min-width:1200px) and (max-width:1300px)
{
 
    .box2 {
        height:300px;
        width:300px;
      
    }

    .box1 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box9 img,.box10 img,.box11 img   {
        display:none;
    }

}

@media only screen and (min-width:1000px) and (max-width:1200px)
{
    .box3 {
        height:300px;
        width:300px;   
      
    }

    .box2 img ,.box1 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box9 img,.box10 img,.box11 img   {
        display:none;
    }

}

@media only screen and (min-width:900px) and (max-width:1000px)
{
    .box4 {
        height:300px;
        width:300px;
      
    
    }

    .box2 img ,.box3 img,.box1 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box9 img,.box10 img,.box11 img   {
        display:none;
    }

   
}

@media only screen and (min-width:800px) and (max-width:900px)
{
    .box5 {
        height:300px;
        width:300px;
  
    
    }

    .box2 img ,.box3 img,.box4 img ,.box1 img,.box6 img,.box7 img,.box8 img,.box9 img,.box10 img,.box11 img   {
        display:none;
    }

   
}

@media only screen and (min-width:700px) and (max-width:800px)
{
    .box6 {
        height:300px;
        width:300px;
   
    
    }

    .box2 img ,.box3 img,.box4 img ,.box5 img,.box1 img,.box7 img,.box8 img,.box9 img,.box10 img,.box11 img   {
        display:none;
    }

   
}

@media only screen and (min-width:600px) and (max-width:700px)
{
    .box7 {
        height:300px;
        width:300px;
      
    
    }
    .box2 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box1 img,.box8 img,.box9 img,.box10 img,.box11 img   {
        display:none;
    }

   
}

@media only screen and (min-width:500px) and (max-width:600px)
{
    .box8 {
        height:300px;
        width:300px;
     
    }

    .box2 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box1 img,.box9 img,.box10 img,.box11 img   {
        display:none;
    }

   
}

@media only screen and (min-width:400px) and (max-width:500px)
{
    .box9 {
        height:300px;
        width:300px;
    
    
    }

    .box2 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box1 img,.box10 img,.box11 img  {
        display:none;
    }

   
}

@media only screen and (min-width:200px) and (max-width:400px)
{
    .box10 {
        height:300px;
        width:300px;
  
    
    }

    .box2 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box9 img,.box1 img,.box11 img  {
        display:none;
    }
  
}

@media only screen and (min-width:0px) and (max-width:200px)
{
    .box11 {
        height:300px;
        width:300px;
  
    
    }

    .box2 img ,.box3 img,.box4 img ,.box5 img,.box6 img,.box7 img,.box8 img,.box9 img,.box1 img,.box10 img  {
        display:none;
    }
  
}

